<!DOCTYPE html>
<html>
  <head>
    <title>
      jovians careers
    </title>
    <style>
      h1{
        font-size: 40px;
        font-family: Roboto;
        color: RGB(100,100,100);
        text-align: center;
        
      }
      #banner{
        height : 360 px;
        object-fit: cover;  
      }
      h2{
        font-family: Roboto;
        font-size: 30px;
        text-align: center;
        color: RGB(100, 100, 100);
      }
      #di{
        max-width: 700px;
        margin: 0 auto 0 auto;
      }
    </style>
    
  </head>
  <body>
    <div id="di">
      <h1>
      Jovian Careers
    </h1>
    <img src="https://joviancareers-1--hemanthroyal222.repl.co/static/banner.jpg" height=320px width=100% id="banner" >
    <h2>About Jovian</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et pharetra pharetra massa massa ultricies mi quis. Purus in mollis nunc sed id. Nunc consequat interdum varius sit amet mattis. Eget lorem dolor sed viverra ipsum. Quis varius quam quisque id. Mauris vitae ultricies leo integer malesuada nunc vel risus. Suscipit tellus mauris a diam maecenas. Id leo in vitae turpis massa sed elementum tempus egestas. Curabitur vitae nunc sed velit dignissim sodales.

Imperdiet massa tincidunt nunc pulvinar sapien et. Varius morbi enim nunc faucibus a pellentesque. Tristique nulla aliquet enim tortor. Ornare aenean euismod elementum nisi quis eleifend. Neque viverra justo nec ultrices dui sapien eget. Nec feugiat nisl pretium fusce id velit. Faucibus in ornare quam viverra orci sagittis eu. In ornare quam viverra orci. A scelerisque purus semper eget duis at tellus at. Turpis tincidunt id aliquet risus feugiat. Netus et malesuada fames ac turpis. Cras sed felis eget velit aliquet sagittis id. At varius vel pharetra vel turpis nunc eget. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Turpis egestas sed tempus urna et pharetra pharetra massa massa. Sed viverra tellus in hac habitasse. Sagittis aliquam malesuada bibendum arcu vitae elementum. Morbi tempus iaculis urna id volutpat lacus.</p>
    <h2>Open Positions</h2>
    <p>pending this part</p>
    <button>Contact Us</button>
    
    </div>
    
  </body>
</html>